# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Gradle
/.gradle/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#working directories
/wgrp-api/build
/wgrp-api/.gradle/
/wgrp-bukkit/build
/wgrp-bukkit/.gradle/
/wgrp-bukkit/run
/build/tmp/jar/MANIFEST.MF
/build/libs/
/build/kotlin/sessions/
