# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/wgrp-bukkit/run/plugins/FastAsyncWorldEdit/history/world/80cbac37-2a59-4c5e-8aed-ead1a34ffd6d/1.bd
/wgrp-bukkit/run/world/playerdata/80cbac37-2a59-4c5e-8aed-ead1a34ffd6d.dat
/wgrp-bukkit/run/world/playerdata/80cbac37-2a59-4c5e-8aed-ead1a34ffd6d.dat_old
/wgrp-bukkit/run/world/advancements/80cbac37-2a59-4c5e-8aed-ead1a34ffd6d.json
/wgrp-bukkit/run/world/stats/80cbac37-2a59-4c5e-8aed-ead1a34ffd6d.json
/wgrp-bukkit/run/logs/2022-05-05-1.log.gz
/wgrp-bukkit/run/logs/2022-05-05-2.log.gz
/wgrp-bukkit/run/logs/2022-05-05-3.log.gz
/wgrp-bukkit/run/logs/2022-05-05-4.log.gz
/wgrp-bukkit/run/logs/2022-05-05-5.log.gz
/wgrp-bukkit/run/logs/2022-05-05-6.log.gz
/wgrp-bukkit/run/logs/2022-05-05-7.log.gz
/wgrp-bukkit/run/logs/2022-05-05-8.log.gz
/wgrp-bukkit/run/logs/2022-05-05-9.log.gz
/wgrp-bukkit/run/logs/2022-05-05-10.log.gz
/wgrp-bukkit/run/logs/2022-05-05-11.log.gz
/wgrp-bukkit/run/logs/2022-05-05-12.log.gz
/wgrp-bukkit/run/logs/2022-05-05-13.log.gz
/wgrp-bukkit/run/logs/2022-05-05-14.log.gz
/wgrp-bukkit/run/logs/2022-05-05-15.log.gz
/wgrp-bukkit/run/logs/2022-05-05-16.log.gz
/wgrp-bukkit/run/logs/2022-05-05-17.log.gz
/wgrp-bukkit/run/logs/2022-05-06-1.log.gz
/wgrp-bukkit/run/logs/2022-05-06-2.log.gz
/wgrp-bukkit/run/logs/2022-05-06-3.log.gz
/wgrp-bukkit/run/logs/2022-05-06-4.log.gz
/wgrp-bukkit/run/logs/2022-05-06-5.log.gz
/wgrp-bukkit/run/logs/2022-05-06-6.log.gz
/wgrp-bukkit/run/logs/2022-05-06-7.log.gz
/wgrp-bukkit/run/logs/2022-05-06-8.log.gz
/wgrp-bukkit/run/logs/2022-05-06-9.log.gz
/wgrp-bukkit/run/logs/2022-05-06-10.log.gz
/wgrp-bukkit/run/logs/2022-05-06-11.log.gz
/wgrp-bukkit/run/logs/2022-05-06-12.log.gz
/wgrp-bukkit/run/logs/2022-05-06-13.log.gz
/wgrp-bukkit/run/logs/2022-05-06-14.log.gz
/wgrp-bukkit/run/logs/2022-05-06-15.log.gz
/wgrp-bukkit/run/logs/2022-05-06-16.log.gz
/wgrp-bukkit/run/logs/2022-05-06-17.log.gz
/wgrp-bukkit/run/logs/2022-05-14-1.log.gz
/wgrp-bukkit/run/logs/2022-05-14-2.log.gz
/wgrp-bukkit/run/logs/2022-05-14-3.log.gz
/wgrp-bukkit/run/logs/2022-05-15-1.log.gz
/wgrp-bukkit/run/logs/2022-05-15-2.log.gz
/wgrp-bukkit/run/logs/2022-05-15-3.log.gz
/wgrp-bukkit/run/logs/2022-05-15-4.log.gz
/wgrp-bukkit/run/logs/2022-05-15-5.log.gz
/wgrp-bukkit/run/logs/2022-05-15-6.log.gz
/wgrp-bukkit/run/logs/2022-05-15-7.log.gz
/wgrp-bukkit/run/logs/2022-05-15-8.log.gz
/wgrp-bukkit/run/logs/2022-05-15-9.log.gz
/wgrp-bukkit/run/logs/2022-05-15-10.log.gz
/wgrp-bukkit/run/logs/2022-05-15-11.log.gz
/wgrp-bukkit/run/logs/2022-05-15-12.log.gz
/wgrp-bukkit/run/logs/2022-05-15-13.log.gz
/wgrp-bukkit/run/logs/2022-05-15-14.log.gz
/wgrp-bukkit/run/logs/2022-05-15-15.log.gz
/wgrp-bukkit/run/logs/2022-05-15-16.log.gz
/wgrp-bukkit/run/logs/2022-05-15-17.log.gz
/wgrp-bukkit/run/logs/2022-05-15-18.log.gz
/wgrp-bukkit/run/logs/2022-05-15-19.log.gz
/wgrp-bukkit/run/logs/2022-05-15-20.log.gz
/wgrp-bukkit/run/logs/2022-05-15-21.log.gz
/wgrp-bukkit/run/logs/2022-05-15-22.log.gz
/wgrp-bukkit/run/logs/2022-05-15-23.log.gz
/wgrp-bukkit/run/logs/2022-05-15-24.log.gz
/wgrp-bukkit/run/logs/2022-05-15-25.log.gz
/wgrp-bukkit/run/logs/2022-05-15-26.log.gz
/wgrp-bukkit/run/logs/2022-05-15-27.log.gz
/wgrp-bukkit/run/logs/2022-05-15-28.log.gz
/wgrp-bukkit/run/logs/2022-05-15-29.log.gz
/wgrp-bukkit/run/logs/2022-05-15-30.log.gz
/wgrp-bukkit/run/logs/2022-05-15-31.log.gz
/wgrp-bukkit/run/logs/2022-05-15-32.log.gz
/wgrp-bukkit/run/logs/2022-05-15-33.log.gz
/wgrp-bukkit/run/logs/2022-05-15-34.log.gz
/wgrp-bukkit/run/logs/2022-05-15-35.log.gz
/wgrp-bukkit/run/logs/2022-05-15-36.log.gz
/wgrp-bukkit/run/logs/2022-05-15-37.log.gz
/wgrp-bukkit/run/logs/2022-05-15-38.log.gz
/wgrp-bukkit/run/logs/2022-05-15-39.log.gz
/wgrp-bukkit/run/logs/2022-05-15-40.log.gz
/wgrp-bukkit/run/logs/2022-05-15-41.log.gz
/wgrp-bukkit/run/logs/2022-05-15-42.log.gz
/wgrp-bukkit/run/logs/2022-05-15-43.log.gz
/wgrp-bukkit/run/logs/2022-05-16-1.log.gz
/wgrp-bukkit/run/logs/2022-05-16-2.log.gz
/wgrp-bukkit/run/logs/2022-05-16-3.log.gz
/wgrp-bukkit/run/logs/2022-05-16-4.log.gz
/wgrp-bukkit/run/logs/2022-05-16-5.log.gz
/wgrp-bukkit/run/logs/2022-05-16-6.log.gz
/wgrp-bukkit/run/logs/2022-05-16-7.log.gz
/wgrp-bukkit/run/logs/2022-05-16-8.log.gz
/wgrp-bukkit/run/logs/2022-05-16-9.log.gz
/wgrp-bukkit/run/logs/2022-05-16-10.log.gz
/wgrp-bukkit/run/logs/2022-05-16-11.log.gz
/wgrp-bukkit/run/logs/2022-05-16-12.log.gz
/wgrp-bukkit/run/logs/2022-05-16-13.log.gz
/wgrp-bukkit/run/logs/2022-05-16-14.log.gz
/wgrp-bukkit/run/logs/2022-05-16-15.log.gz
/wgrp-bukkit/run/logs/2022-05-16-16.log.gz
/wgrp-bukkit/run/logs/2022-05-16-17.log.gz
/wgrp-bukkit/run/logs/2022-05-16-18.log.gz
/wgrp-bukkit/run/logs/2022-05-16-19.log.gz
/wgrp-bukkit/run/logs/2022-05-16-20.log.gz
/wgrp-bukkit/run/logs/2022-05-16-21.log.gz
/wgrp-bukkit/run/logs/2022-05-16-22.log.gz
/wgrp-bukkit/run/logs/2022-05-16-23.log.gz
/wgrp-bukkit/run/logs/2022-05-16-24.log.gz
/wgrp-bukkit/run/logs/2022-05-16-25.log.gz
/wgrp-bukkit/run/logs/2022-05-16-26.log.gz
/wgrp-bukkit/run/logs/2022-05-16-27.log.gz
/wgrp-bukkit/run/logs/2022-05-16-28.log.gz
/wgrp-bukkit/run/logs/2022-05-16-29.log.gz
/wgrp-bukkit/run/logs/2022-05-16-30.log.gz
/wgrp-bukkit/run/logs/2022-05-16-31.log.gz
/wgrp-bukkit/run/logs/2022-05-16-32.log.gz
/wgrp-bukkit/run/logs/2022-05-16-33.log.gz
/wgrp-bukkit/run/logs/2022-05-16-34.log.gz
/wgrp-bukkit/run/logs/2022-05-16-35.log.gz
/wgrp-bukkit/run/logs/2022-05-16-36.log.gz
/wgrp-bukkit/run/logs/2022-05-16-37.log.gz
/wgrp-bukkit/run/logs/2022-05-16-38.log.gz
/wgrp-bukkit/run/logs/2022-05-16-39.log.gz
/wgrp-bukkit/run/logs/2022-05-16-40.log.gz
/wgrp-bukkit/run/logs/2022-05-16-41.log.gz
/wgrp-bukkit/run/logs/2022-05-16-42.log.gz
/wgrp-bukkit/run/logs/2022-05-16-43.log.gz
/wgrp-bukkit/run/logs/2022-05-16-44.log.gz
/wgrp-bukkit/run/logs/2022-05-16-45.log.gz
/wgrp-bukkit/run/logs/2022-05-16-46.log.gz
/wgrp-bukkit/run/logs/2022-05-16-47.log.gz
/wgrp-bukkit/run/logs/2022-05-16-48.log.gz
/wgrp-bukkit/run/logs/2022-05-16-49.log.gz
/wgrp-bukkit/run/logs/2022-05-16-50.log.gz
/wgrp-bukkit/run/logs/2022-05-16-51.log.gz
/wgrp-bukkit/run/logs/2022-05-16-52.log.gz
/wgrp-bukkit/run/logs/2022-05-16-53.log.gz
/wgrp-bukkit/run/logs/2022-05-16-54.log.gz
/wgrp-bukkit/run/logs/2022-05-16-55.log.gz
/wgrp-bukkit/run/logs/2022-05-16-56.log.gz
/wgrp-bukkit/run/logs/2022-05-16-57.log.gz
/wgrp-bukkit/run/logs/2022-05-16-58.log.gz
/wgrp-bukkit/run/logs/2022-05-16-59.log.gz
/wgrp-bukkit/run/logs/2022-05-16-60.log.gz
/wgrp-bukkit/run/logs/2022-05-16-61.log.gz
/wgrp-bukkit/run/logs/2022-05-16-62.log.gz
/wgrp-bukkit/run/logs/2022-05-16-63.log.gz
/wgrp-bukkit/run/logs/2022-05-16-64.log.gz
/wgrp-bukkit/run/logs/2022-05-16-65.log.gz
/wgrp-bukkit/run/logs/2022-05-16-66.log.gz
/wgrp-bukkit/run/logs/2022-05-16-67.log.gz
/wgrp-bukkit/run/logs/2022-05-16-68.log.gz
/wgrp-bukkit/run/logs/2022-05-16-69.log.gz
/wgrp-bukkit/run/logs/2022-05-16-70.log.gz
/wgrp-bukkit/run/logs/2022-05-16-71.log.gz
/wgrp-bukkit/run/logs/2022-05-16-72.log.gz
/wgrp-bukkit/run/logs/2022-05-16-73.log.gz
/wgrp-bukkit/run/logs/2022-05-16-74.log.gz
/wgrp-bukkit/run/logs/2022-05-16-75.log.gz
/wgrp-bukkit/run/logs/2022-05-16-76.log.gz
/wgrp-bukkit/run/logs/2022-05-16-77.log.gz
/wgrp-bukkit/run/logs/2022-05-16-78.log.gz
/wgrp-bukkit/run/logs/2022-05-16-79.log.gz
/wgrp-bukkit/run/logs/2022-05-16-80.log.gz
/wgrp-bukkit/run/logs/2022-05-16-81.log.gz
/wgrp-bukkit/run/logs/2022-05-16-82.log.gz
/wgrp-bukkit/run/logs/2022-05-16-83.log.gz
/wgrp-bukkit/run/logs/2022-05-16-84.log.gz
/wgrp-bukkit/run/logs/2022-05-16-85.log.gz
/wgrp-bukkit/run/logs/2022-05-16-86.log.gz
/wgrp-bukkit/run/logs/2022-05-16-87.log.gz
/wgrp-bukkit/run/logs/2022-05-16-88.log.gz
/wgrp-bukkit/run/logs/2022-05-16-89.log.gz
/wgrp-bukkit/run/logs/2022-05-16-90.log.gz
/wgrp-bukkit/run/logs/2022-05-16-91.log.gz
/wgrp-bukkit/run/logs/2022-05-16-92.log.gz
/wgrp-bukkit/run/logs/2022-05-16-93.log.gz
/wgrp-bukkit/run/logs/2022-05-16-94.log.gz
/wgrp-bukkit/run/logs/2022-05-16-95.log.gz
/wgrp-bukkit/run/logs/2022-05-16-96.log.gz
/wgrp-bukkit/run/logs/2022-05-16-97.log.gz
/wgrp-bukkit/run/logs/2022-05-16-98.log.gz
/wgrp-bukkit/run/logs/2022-05-16-99.log.gz
/wgrp-bukkit/run/logs/2022-05-16-100.log.gz
/wgrp-bukkit/run/logs/2022-05-16-101.log.gz
/wgrp-bukkit/run/logs/2022-05-16-102.log.gz
/wgrp-bukkit/run/logs/2022-05-16-103.log.gz
/wgrp-bukkit/run/logs/2022-05-16-104.log.gz
/wgrp-bukkit/run/logs/2022-05-16-105.log.gz
/wgrp-bukkit/run/logs/2022-05-16-106.log.gz
/wgrp-bukkit/run/logs/2022-05-16-107.log.gz
/wgrp-bukkit/run/logs/2022-05-16-108.log.gz
/wgrp-bukkit/run/logs/2022-05-16-109.log.gz
/wgrp-bukkit/run/logs/2022-05-16-110.log.gz
/wgrp-bukkit/run/logs/2022-05-16-111.log.gz
/wgrp-bukkit/run/logs/2022-05-16-112.log.gz
/wgrp-bukkit/run/logs/2022-05-16-113.log.gz
/wgrp-bukkit/run/logs/2022-05-16-114.log.gz
/wgrp-bukkit/run/logs/2022-05-16-115.log.gz
/wgrp-bukkit/run/logs/2022-05-16-116.log.gz
/wgrp-bukkit/run/logs/2022-05-16-117.log.gz
/wgrp-bukkit/run/logs/2022-05-16-118.log.gz
/wgrp-bukkit/run/logs/2022-05-16-119.log.gz
/wgrp-bukkit/run/logs/2022-05-16-120.log.gz
/wgrp-bukkit/run/logs/2022-05-16-121.log.gz
/wgrp-bukkit/run/logs/2022-05-16-122.log.gz
/wgrp-bukkit/run/logs/2022-05-16-123.log.gz
/wgrp-bukkit/run/logs/2022-05-16-124.log.gz
/wgrp-bukkit/run/logs/2022-05-16-125.log.gz
/wgrp-bukkit/run/logs/2022-05-17-1.log.gz
/wgrp-bukkit/run/logs/2022-05-17-2.log.gz
/wgrp-bukkit/run/logs/2022-05-17-3.log.gz
/wgrp-bukkit/run/logs/2022-05-17-4.log.gz
/wgrp-bukkit/run/logs/2022-05-17-5.log.gz
/wgrp-bukkit/run/logs/2022-05-17-6.log.gz
/wgrp-bukkit/run/logs/2022-05-17-7.log.gz
/wgrp-bukkit/run/logs/2022-05-17-8.log.gz
/wgrp-bukkit/run/logs/2022-05-17-9.log.gz
/wgrp-bukkit/run/logs/2022-05-17-10.log.gz
/wgrp-bukkit/run/logs/2022-05-17-11.log.gz
/wgrp-bukkit/run/logs/2022-05-17-12.log.gz
/wgrp-bukkit/run/logs/2022-05-17-13.log.gz
/wgrp-bukkit/run/logs/2022-05-17-14.log.gz
/wgrp-bukkit/run/logs/2022-05-17-15.log.gz
/wgrp-bukkit/run/logs/2022-05-17-16.log.gz
/wgrp-bukkit/run/logs/2022-05-17-17.log.gz
/wgrp-bukkit/run/logs/2022-05-17-18.log.gz
/wgrp-bukkit/run/logs/2022-05-17-19.log.gz
/wgrp-bukkit/run/logs/2022-05-17-20.log.gz
/wgrp-bukkit/run/logs/2022-05-17-21.log.gz
/wgrp-bukkit/run/logs/2022-05-17-22.log.gz
/wgrp-bukkit/run/logs/2022-05-17-23.log.gz
/wgrp-bukkit/run/logs/2022-05-17-24.log.gz
/wgrp-bukkit/run/logs/2022-05-17-25.log.gz
/wgrp-bukkit/run/logs/2022-05-17-26.log.gz
/wgrp-bukkit/run/logs/2022-05-17-27.log.gz
/wgrp-bukkit/run/logs/2022-05-17-28.log.gz
/wgrp-bukkit/run/logs/2022-05-17-29.log.gz
/wgrp-bukkit/run/logs/2022-05-17-30.log.gz
/wgrp-bukkit/run/logs/2022-05-17-31.log.gz
/wgrp-bukkit/run/logs/2022-05-17-32.log.gz
/wgrp-bukkit/run/logs/2022-05-17-33.log.gz
/wgrp-bukkit/run/logs/2022-05-17-34.log.gz
/wgrp-bukkit/run/logs/2022-05-17-35.log.gz
/wgrp-bukkit/run/logs/2022-05-17-36.log.gz
/wgrp-bukkit/run/logs/2022-05-17-37.log.gz
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/ar_SA.properties
/wgrp-bukkit/run/banned-ips.json
/wgrp-bukkit/run/banned-players.json
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/bg_BG.properties
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world/blacklist.txt
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world_nether/blacklist.txt
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world_the_end/blacklist.txt
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/wgrp-bukkit/run/bukkit.yml
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4.2/checksums/checksums.lock
/wgrp-bukkit/run/commands.yml
/wgrp-bukkit/build/resources/main/config.yml
/wgrp-bukkit/run/plugins/bStats/config.yml
/wgrp-bukkit/run/plugins/FastAsyncWorldEdit/config.yml
/wgrp-bukkit/run/plugins/LuckPerms/config.yml
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world/config.yml
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world_nether/config.yml
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world_the_end/config.yml
/wgrp-bukkit/run/plugins/WorldGuard/config.yml
/wgrp-bukkit/run/plugins/WorldGuardRegionProtect/config.yml
/wgrp-bukkit/run/plugins/LuckPerms/contexts.json
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/cs_CZ.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/da_DK.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/de_DE.properties
/.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
/wgrp-bukkit/run/plugins/LuckPerms/editor-keystore.json
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/el_GR.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/en_PT.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/es_ES.properties
/wgrp-bukkit/run/eula.txt
/.gradle/7.4.2/executionHistory/executionHistory.bin
/.gradle/7.4.2/executionHistory/executionHistory.lock
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/fa_IR.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/fi_FI.properties
/.gradle/file-system.probe
/.gradle/7.4.2/fileHashes/fileHashes.bin
/.gradle/7.4.2/fileHashes/fileHashes.lock
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/fr_FR.properties
/.gradle/7.4.2/dependencies-accessors/gc.properties
/.gradle/7.4.2/gc.properties
/.gradle/vcs-1/gc.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/he_IL.properties
/wgrp-bukkit/run/help.yml
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/hu_HU.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/id_ID.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/it_IT.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/ja_JP.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/ko_KR.properties
/.gradle/7.4.2/fileChanges/last-build.bin
/wgrp-bukkit/run/world/level.dat
/wgrp-bukkit/run/world/level.dat_old
/wgrp-bukkit/run/plugins/LuckPerms/luckperms-h2.mv.db
/wgrp-api/build/tmp/jar/MANIFEST.MF
/wgrp-bukkit/build/tmp/shadowJar/MANIFEST.MF
/.gradle/7.4.2/checksums/md5-checksums.bin
/wgrp-bukkit/build/resources/main/messages.yml
/wgrp-bukkit/run/plugins/WorldGuardRegionProtect/messages.yml
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/nl_NL.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/no_NO.properties
/wgrp-bukkit/run/ops.json
/.gradle/buildOutputCleanup/outputFiles.bin
/wgrp-bukkit/run/world/datapacks/bukkit/pack.mcmeta
/wgrp-bukkit/run/paper.yml
/wgrp-bukkit/run/permissions.yml
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/pl_PL.properties
/wgrp-bukkit/build/resources/main/plugin.yml
/wgrp-api/build/tmp/compileJava/previous-compilation-data.bin
/wgrp-bukkit/build/tmp/compileJava/previous-compilation-data.bin
/wgrp-bukkit/run/plugins/WorldGuard/cache/profiles.sqlite
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/pt_BR.properties
/wgrp-bukkit/run/world/entities/r.0.0.mca
/wgrp-bukkit/run/world/region/r.0.0.mca
/wgrp-bukkit/run/world/entities/r.0.-1.mca
/wgrp-bukkit/run/world/poi/r.0.-1.mca
/wgrp-bukkit/run/world/region/r.0.-1.mca
/wgrp-bukkit/run/world/entities/r.-1.0.mca
/wgrp-bukkit/run/world/region/r.-1.0.mca
/wgrp-bukkit/run/world/entities/r.-1.-1.mca
/wgrp-bukkit/run/world/region/r.-1.-1.mca
/wgrp-bukkit/run/world/data/raids.dat
/wgrp-bukkit/run/plugins/WorldGuard/worlds/world/regions.yml
/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/ro_RO.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/ru_RU.properties
/wgrp-bukkit/run/server.properties
/wgrp-bukkit/run/world/session.lock
/.gradle/7.4.2/checksums/sha1-checksums.bin
/.gradle/7.4.2/checksums/sha256-checksums.bin
/.gradle/7.4.2/checksums/sha512-checksums.bin
/wgrp-bukkit/run/spigot.yml
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/sr_CS.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/status.json
/wgrp-bukkit/run/plugins/FastAsyncWorldEdit/lang/strings.json
/wgrp-bukkit/run/plugins/FastAsyncWorldEdit/history/world/summary.db
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/sv_SE.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/tr_TR.properties
/wgrp-bukkit/run/world/uid.dat
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/uk_UA.properties
/wgrp-bukkit/run/usercache.json
/wgrp-bukkit/run/version_history.json
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/vi_VN.properties
/wgrp-bukkit/run/wepif.yml
/wgrp-bukkit/run/whitelist.json
/wgrp-bukkit/run/plugins/FastAsyncWorldEdit/worldedit-config.yml
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/zh_CN.properties
/wgrp-bukkit/run/plugins/LuckPerms/translations/repository/zh_TW.properties
